In [17]:
#Importamos librerías
import numpy as np # data arrays
import pandas as pd # data structure and data analysis
import matplotlib as plt # data visualization
import datetime as dt # date time

In [18]:
#Abrimos archivo 
df_airbnb = pd.read_csv("airbnb-listings.csv", sep=";")

In [19]:
#Contamos cuántas columnas y filas tiene el dataset
print('Columnas : ', len(df_airbnb.columns))
print('Filas    : ', len(df_airbnb.index))

Columnas :  89
Filas    :  14780

In [20]:
#Imprimimos todas las columnas en formato lista
print(df_airbnb.columns.tolist())

['ID', 'Listing Url', 'Scrape ID', 'Last Scraped', 'Name', 'Summary', 'Space', 'Description', 'Experiences Offered', 'Neighborhood Overview', 'Notes', 'Transit', 'Access', 'Interaction', 'House Rules', 'Thumbnail Url', 'Medium Url', 'Picture Url', 'XL Picture Url', 'Host ID', 'Host URL', 'Host Name', 'Host Since', 'Host Location', 'Host About', 'Host Response Time', 'Host Response Rate', 'Host Acceptance Rate', 'Host Thumbnail Url', 'Host Picture Url', 'Host Neighbourhood', 'Host Listings Count', 'Host Total Listings Count', 'Host Verifications', 'Street', 'Neighbourhood', 'Neighbourhood Cleansed', 'Neighbourhood Group Cleansed', 'City', 'State', 'Zipcode', 'Market', 'Smart Location', 'Country Code', 'Country', 'Latitude', 'Longitude', 'Property Type', 'Room Type', 'Accommodates', 'Bathrooms', 'Bedrooms', 'Beds', 'Bed Type', 'Amenities', 'Square Feet', 'Price', 'Weekly Price', 'Monthly Price', 'Security Deposit', 'Cleaning Fee', 'Guests Included', 'Extra People', 'Minimum Nights', 'Maximum Nights', 'Calendar Updated', 'Has Availability', 'Availability 30', 'Availability 60', 'Availability 90', 'Availability 365', 'Calendar last Scraped', 'Number of Reviews', 'First Review', 'Last Review', 'Review Scores Rating', 'Review Scores Accuracy', 'Review Scores Cleanliness', 'Review Scores Checkin', 'Review Scores Communication', 'Review Scores Location', 'Review Scores Value', 'License', 'Jurisdiction Names', 'Cancellation Policy', 'Calculated host listings count', 'Reviews per Month', 'Geolocation', 'Features']

In [21]:
#Sumamos los valores nulos que tienen cada una de las columnas
missing_values_count = df_airbnb.isnull().sum()
missing_values_count

ID                                   0
Listing Url                          0
Scrape ID                            0
Last Scraped                         0
Name                                 1
                                  ...
Cancellation Policy                  0
Calculated host listings count       4
Reviews per Month                 3162
Geolocation                          0
Features                             1
Length: 89, dtype: int64

In [22]:
#Ordenamos de mayor a menor las columnas con más valores nulos
missing_values_count.sort_values(ascending=False)

Has Availability        14768
Host Acceptance Rate    14741
Jurisdiction Names      14553
License                 14431
Square Feet             14182
                        ...
Minimum Nights              0
Extra People                0
Guests Included             0
Room Type                   0
ID                          0
Length: 89, dtype: int64

In [23]:
#Devuelve True si la suma de valores nulos es mayor a 1000
missing_values_count>1000

ID                                False
Listing Url                       False
Scrape ID                         False
Last Scraped                      False
Name                              False
                                  ...
Cancellation Policy               False
Calculated host listings count    False
Reviews per Month                  True
Geolocation                       False
Features                          False
Length: 89, dtype: bool

In [24]:
#Obtenemos las columnas cuya suma de valores nulos es mayor a 1000
nulldata = df_airbnb.isnull().sum()
print(nulldata[nulldata > 1000].sort_values(ascending=False))

Has Availability                14768
Host Acceptance Rate            14741
Jurisdiction Names              14553
License                         14431
Square Feet                     14182
Monthly Price                   11219
Weekly Price                    11190
Notes                            9136
Security Deposit                 8524
Interaction                      6552
Access                           6462
Cleaning Fee                     6093
Transit                          5714
Neighborhood Overview            5646
Host About                       5241
Neighbourhood                    5229
House Rules                      5161
Space                            3892
Host Neighbourhood               3876
Review Scores Value              3341
Review Scores Location           3340
Review Scores Checkin            3337
Review Scores Accuracy           3326
Review Scores Cleanliness        3320
Review Scores Communication      3320
Review Scores Rating             3304
Last Review                      3163
Reviews per Month                3162
First Review                     3162
XL Picture Url                   2820
Medium Url                       2820
Thumbnail Url                    2820
Host Response Time               1899
Host Response Rate               1899
Neighbourhood Group Cleansed     1020
dtype: int64

In [25]:
#A pesar de que el dataset es de Madrid podemos observar como hay otros paises y ciudades 
print(pd.unique(df_airbnb["Country"]))

print(pd.unique(df_airbnb["City"]))

['United Kingdom' 'Spain' 'United States' 'Canada' 'Switzerland'
 'Hong Kong' 'Cuba' 'Germany' 'Belgium' 'Netherlands' 'Italy' 'Australia'
 'Austria' 'France' 'Denmark' 'Ireland' 'Greece' nan]
['London' 'Madrid' 'Denver' 'Palma' 'Palma de Mallorca' 'Selva'
 'Balearic Islands' 'Sant Joan' 'Montréal' 'Genève' 'Tsim Sha Tsui'
 'Los Angeles' 'Cala Pi' 'Sa Pobla' 'Muro' 'Alcúdia' 'Illetes' '马德里'
 'La Habana' 'Madrid, Comunidad de Madrid, ES' 'Berlin' 'Schaerbeek'
 'Amsterdam' 'Barcelona' 'Austin' 'Antwerpen' 'Chicago' 'Roma'
 'Bondi Beach' 'Seattle' 'Woolloomooloo' 'Vienna' 'North Sydney' 'Paris'
 'Frederiksberg' 'Dublin' 'Edimburgo' 'Bruxelles' 'Copenhagen' 'Sutton'
 'Santa Maria del Camí' 'Pollença' 'Nashville' 'Bunyola'
 'Pozuelo de Alarcón' 'Provensals' 'Deià' 'Costitx' 'Campos'
 'Mile End / Bow' 'Peguera, Calvià' 'Torrenova' "Port d'Andratx"
 'Llucmajor' 'Sant Llorenç des Cardassar' 'Puerto ALCUDIA' 'Sóller'
 'Valldemossa' 'Pollensa' 'Caimari' 'Inca' '馬德里' 'Montreal' 'Brooklyn'
 'Washington' 'Venezia' 'Lido' 'Hospitalet de Llobregat' 'Hong Kong'
 'København' 'Ixelles' 'Andratx' 'Binissalem' 'Mancor de la Vall'
 'Felanitx' 'Santa Margalida' 'Saint-Josse-ten-Noode'
 'Madrid, Vallecas (Fontarrón)' 'Campanet' 'Sol de Mallorca' 'New Orleans'
 'Greater London' 'Londres' 'Sa Colònia' 'Son Veri Nou , Llucmajor'
 'Delicias' 'Wien' 'St Peters' 'Surry Hills' 'Toronto' 'Queens' 'New York'
 'Los Angeles County' 'Beverly Hills' 'Manacor' 'Pozuelo' 'Can Pastilla'
 'Alaró' 'Melbourne' 'Venice' 'Bondi' 'Porreres' 'Costa dels Pins'
 'Madrid, Comunidad de Madrid, ESPANA' 'las matas  madrid' 'Illes Balears'
 'Calvià' 'madrid' 'La Puebla' 'Llubí' 'Templeogue' 'Ballsbridge'
 'Topanga' 'Peguera' 'Manchester' 'Delicias-Madrid' 'Onil' 'Cala Agulla'
 'Athina' 'Edinburgh' 'Santa Monica' 'San Diego' 'Queenscliff'
 'Cala Ferrera' 'Santanyí' 'Valderrodrigo' 'Algaida' nan 'El Toro' 'Petra'
 'Búger' 'Pina' 'Chiva' 'Son Servera' 'Sa Coma' 'Northcote' 'Potts Point'
 'Lewisham' 'Maioris Decima' 'Puerto Pollensa (Palma de Mallorca)'
 'Lloret de Vistalegre' 'Paddington' 'Boston' 'Frederiksberg C' 'Bronx'
 'Berowra Waters' 'Marrickville' 'Rome' 'París' 'Playas de Muro'
 'Boadilla del Monte' 'Binissalem-Mallorca DO' 'Pina, Mallorca'
 'Etterbeek' 'Richmond' 'Sineu' 'Cala Santanyí' 'Windsor' 'Port de Soller'
 'South Yarra' 'Rotes Velles' 'Son Moll' 'Brussel' 'Aravaca'
 'San Fernando de Henares' 'Cala Murada' 'Betlem' 'Son Vida' 'Malibu'
 'Kimmage' 'Clongriffin' 'Ginebra' 'Madid' 'Porto Cristo' 'Santa Ponsa'
 'Comunidad de Madrid' 'San Lázaro' 'Málaga' 'La Elipa' 'Can Picafort'
 'Manly' 'San Francisco' 'Coogee' 'Oakland' 'Centro, Madrid' 'MADRID'
 'Alcudia' 'Forest' 'Sint-Gillis' 'Darlinghurst' 'Cologny' 'Deyá'
 'Muro (Mallorca)' 'Sencelles' 'Saint-Gilles' 'Madri'
 'Colònia de Sant Jordi' 'Chelsea, London' 'Albert Park' 'Font de Sa Cala'
 'Motilla del Palancar' 'Long Beach' 'Mal Pas-Bon Aire' 'Lloseta' 'Ariany'
 'Port de Sóller' 'Sa Garriga' 'Urbanització Montferrutx' 'Brunswick'
 'Vancouver' 'Bondi Junction' 'Mascot' 'Enmore' 'Rosebery' 'San Fernando'
 'Aravaca (Madrid)' 'Cala Ratjada' 'Cala Magrana'
 'Cala Anguila-Cala Mendia' 'Biniamar' 'Vilafranca de Bonany'
 'West Hollywood' 'Athens' 'Magaluf' 'Chueca, Madrid' 'Malaga'
 'Forest Lodge' 'Brent' 'Chueca' 'Footscray' 'Westmount' 'Dorroughby'
 'Pasadena' 'Llucalcari' 'Ses Salines' 'Colonia de Sant Pere'
 'villa verde bajo' 'Centro' 'North Bondi' 'Portals Nous'
 'Port de Pollença' 'Salerno' 'Berlín' 'Newtown' 'Vallgornera' 'Ventas'
 'Colonia Sant Pere']

In [26]:
#Filtramos el dataset para quedarnos solamente con aquellas filas donde City sea Madrid y Country Spain
df_airbnb = df_airbnb[(df_airbnb['City'] == "Madrid") & (df_airbnb['Country'] == 'Spain')]

print(pd.unique(df_airbnb["Country"]))
print(pd.unique(df_airbnb["City"]))

['Spain']
['Madrid']

In [95]:
#Creamos un nuevo df donde seleccionamos las columnas cuyos valores sean compatibles con lo que queremos estudiar
#Quitamos Zipcode por falta de datos y coherencia (datos incompletos, números que no se corresponden con Madrid)
#Quitamos State porque no nos aporta más información de la que nos da la variable City
#Quitamos Country Code y Smart Location porque no nos aportan más información que la del país (ES) o la ciudad (que ya está en City)
df = df_airbnb[['ID','Host ID', 'Host Since', 'Host Name', 'Street', 'Neighbourhood Cleansed', 'Neighbourhood Group Cleansed', 'City', 
                'Country', 'Latitude', 'Longitude', 'Property Type', 'Room Type', 'Bathrooms', 'Bedrooms', 'Beds', 'Bed Type',
                'Price','Number of Reviews', 'Cancellation Policy', 'Geolocation']]

In [96]:
#Contamos nuevamente cuántas columnas y filas tiene el nuevo df
print('Columnas : ', len(df.columns))
print('Filas    : ', len(df.index))

Columnas :  21
Filas    :  13207

In [16]:
df['Smart Location'].unique() # Vemos qué contiene la variable State

array(['Madrid, Spain', 'Madrid , Spain'], dtype=object)

In [ ]:
#Justificación de por qué eliminamos State
#Observamos que en State hay muchos nombres diferentes para la Comunidad de Madrid
pd.unique(df["State"])

## PARAMOS AQUI PARA EL DATAWAREHOUSE

In [ ]:
# Cambiamos todos los valores de la columna State para que sean todos Comunidad de Madrid

# En primer lugar se ha realizado con el siguiente comando, aunque para evitar errores cuando haya "nan" utilizaremos el codigo siguiente:

# # df['State']='Comunidad de Madrid'

nombres_madrid = ['Community of Madrid', 'Comunidad de Madrid', 'Madrid',
       'Communauté de Madrid', 'Spain', 'MADRID', 'España',
       'Autonome Gemeinschaft Madrid', 'Madrid capital', 'madrid', '28',
       'Madrid \r\nMadrid', 'Espańa', 'Usera', 'España,Madrid']

df['State'].dropna()

for nombre in nombres_madrid:
    df.loc[df['State'] == nombre, 'State'] = 'Comunidad de Madrid'

pd.unique(df["State"])

In [ ]:
pd.unique(df["State"])

Revisión de columnas

In [98]:
#Número de nulos en las columnas seleccionadas
missing_values_count_2 = df.isnull().sum().sort_values(ascending=False)
missing_values_count_2

#Otra forma con el mismo resultado: df.isna().sum().sort_values(ascending=False)

Beds                            49
Bathrooms                       49
Bedrooms                        23
Price                            9
Host Since                       3
Host Name                        3
ID                               0
Room Type                        0
Cancellation Policy              0
Number of Reviews                0
Bed Type                         0
Longitude                        0
Property Type                    0
Host ID                          0
Latitude                         0
Country                          0
City                             0
Neighbourhood Group Cleansed     0
Neighbourhood Cleansed           0
Street                           0
Geolocation                      0
dtype: int64

In [100]:
#Transformamos los valores null de la columna 'Price' con el valor promedio de dicha columna
for i in df['Price']:
	df['Price'] = df['Price'].fillna(df['Price'].mean())

C:\Users\Carla\AppData\Local\Temp\ipykernel_680\115567948.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].fillna(df['Price'].mean())

In [101]:
df.isnull().sum().sort_values(ascending=False)

Beds                            49
Bathrooms                       49
Bedrooms                        23
Host Since                       3
Host Name                        3
ID                               0
Room Type                        0
Cancellation Policy              0
Number of Reviews                0
Price                            0
Bed Type                         0
Longitude                        0
Property Type                    0
Host ID                          0
Latitude                         0
Country                          0
City                             0
Neighbourhood Group Cleansed     0
Neighbourhood Cleansed           0
Street                           0
Geolocation                      0
dtype: int64

In [102]:
#Creamos nuevo dataframe con los valores NaN eliminados
airbnb = df.dropna()

In [103]:
#Calculamos columnas y filas
print('Columnas : ', len(airbnb.columns))
print('Filas    : ', len(airbnb.index))

Columnas :  21
Filas    :  13120

In [104]:
#Verificamos que la suma de nulls en todas las columnas sea 0
missing_values = airbnb.isnull().sum().sort_values(ascending=False)
missing_values

ID                              0
Property Type                   0
Cancellation Policy             0
Number of Reviews               0
Price                           0
Bed Type                        0
Beds                            0
Bedrooms                        0
Bathrooms                       0
Room Type                       0
Longitude                       0
Host ID                         0
Latitude                        0
Country                         0
City                            0
Neighbourhood Group Cleansed    0
Neighbourhood Cleansed          0
Street                          0
Host Name                       0
Host Since                      0
Geolocation                     0
dtype: int64

In [105]:
airbnb["Host Since"]

3        2014-02-03
4        2011-07-12
5        2013-06-19
6        2012-01-24
7        2013-10-31
            ...
14755    2015-06-24
14756    2016-03-01
14757    2012-09-11
14758    2012-09-14
14759    2013-01-03
Name: Host Since, Length: 13120, dtype: object

In [106]:
#Convertimos Host Since a dtype datatime64  
airbnb["Host Since"] = pd.to_datetime(airbnb["Host Since"], format="%Y/%m/%d")

# print the first 5 rows of "ActivityDate" to confirm
#airbnb["Host Since"].head()

C:\Users\Carla\AppData\Local\Temp\ipykernel_680\3518919309.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb["Host Since"] = pd.to_datetime(airbnb["Host Since"], format="%Y/%m/%d")

In [107]:
#Los vecindarios son una de las variables clave en nuestro proyecto
#Vemos los vecindarios que hay en nuestro dataset
df['Neighbourhood Cleansed'].unique()

array(['Palacio', 'Embajadores', 'Cortes', 'Justicia', 'Universidad',
       'Sol', 'Imperial', 'Acacias', 'Ventas', 'Pueblo Nuevo', 'Quintana',
       'Concepción', 'Canillas', 'Pinar del Rey', 'San Andrés',
       'Arapiles', 'Trafalgar', 'Almagro', 'Chopera', 'Legazpi',
       'Delicias', 'Palos de Moguer', 'Prosperidad', 'Hispanoamérica',
       'Nueva España', 'Castilla', 'Bellas Vistas', 'Cuatro Caminos',
       'Vallehermoso', 'Almenara', 'Valdeacederas', 'Berruguete',
       'Gaztambide', 'Guindalera', 'Lista', 'Castellana', 'El Viso',
       'Recoletos', 'Goya', 'Fuente del Berro', 'Atocha', 'Pacífico',
       'Adelfas', 'Estrella', 'Ibiza', 'Jerónimos', 'Rios Rosas',
       'Peñagrande', 'Argüelles', 'Puerta del Angel', 'Lucero', 'Aluche',
       'Campamento', 'Aguilas', 'Comillas', 'Vista Alegre', 'La Paz',
       'Valverde', 'Casa de Campo', 'Numancia', 'Puerta Bonita',
       'Buenavista', 'Abrantes', 'Moscardó', 'Entrevías', 'San Diego',
       'Palomeras Sureste', 'Fontarrón', 'Vinateros', 'Los Rosales',
       'Casco Histórico de Vallecas', 'Casco Histórico de Vicálvaro',
       'Simancas', 'Rejas', 'Timón', 'Casco Histórico de Barajas',
       'Butarque', 'Los Angeles', 'Salvador', 'Orcasur', 'San Fermín',
       'Almendrales', 'Pradolongo', 'Portazgo', 'Palomeras Bajas',
       'San Isidro', 'Opañel', 'El Goloso', 'Cármenes',
       'San Juan Bautista', 'Costillares', 'Piovera', 'Apostol Santiago',
       'Valdefuentes', 'Ciudad Jardín', 'Castillejos', 'Niño Jesús',
       'Zofío', 'Pilar', 'Valdemarín', 'Aravaca', 'Ambroz', 'Arcos',
       'Alameda de Osuna', 'Colina', 'Palomas', 'Orcasitas',
       'Media Legua', 'Valdezarza', 'Mirasierra', 'Ciudad Universitaria',
       'San Pascual', 'Hellín', 'Canillejas', 'Marroquina', 'Aeropuerto',
       'Pavones', 'Amposta', 'Santa Eugenia', 'Rosas', 'El Plantío',
       'Corralejos', 'San Cristobal', 'Cuatro Vientos', 'Fuentelareina'],
      dtype=object)

In [64]:
#En total son 125 vecindarios
len(df['Neighbourhood Cleansed'].unique())

125

In [109]:
#El nombre de los vecindarios los cambiamos a mayúsculas
df['Neighbourhood Cleansed'] = df['Neighbourhood Cleansed'].str.upper()

df.head()

C:\Users\Carla\AppData\Local\Temp\ipykernel_680\3117930092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Neighbourhood Cleansed'] = df['Neighbourhood Cleansed'].str.upper()

,ID,Host ID,Host Since,Host Name,Street,Neighbourhood Cleansed,Neighbourhood Group Cleansed,City,Country,Latitude,...,Property Type,Room Type,Bathrooms,Bedrooms,Beds,Bed Type,Price,Number of Reviews,Cancellation Policy,Geolocation
3,3150371,11902716,2014-02-03,Daniel Y Ximena,"Palacio, Madrid, Community of Madrid 28005, Spain",PALACIO,Centro,Madrid,Spain,40.410106,...,Apartment,Private room,1.0,1.0,1.0,Real Bed,36.0,80,flexible,"40.41010608050749, -3.714754034177323"
4,3378181,809083,2011-07-12,Michael,"Palacio, Madrid, Community of Madrid 28013, Spain",PALACIO,Centro,Madrid,Spain,40.416969,...,Apartment,Entire home/apt,1.0,1.0,1.0,Real Bed,85.0,90,strict,"40.416968822636726, -3.7094389211089993"
5,2070750,7005367,2013-06-19,Sergio,"Madrid, Community of Madrid, Spain",PALACIO,Centro,Madrid,Spain,40.409705,...,Apartment,Private room,1.0,1.0,1.0,Real Bed,20.0,20,flexible,"40.40970517560235, -3.7135611928841086"
6,9832499,1647109,2012-01-24,Daniel,"Malasaña, Madrid, Comunidad de Madrid, Spain",PALACIO,Centro,Madrid,Spain,40.423193,...,Apartment,Entire home/apt,1.0,1.0,2.0,Real Bed,112.0,55,strict,"40.42319271738103, -3.7112486513892"
7,1868170,9738650,2013-10-31,Carlos Chamarro,"Palacio, Madrid, Community of Madrid 28005, Spain",PALACIO,Centro,Madrid,Spain,40.416514,...,Apartment,Entire home/apt,3.0,3.0,4.0,Real Bed,190.0,46,moderate,"40.416513932601625, -3.7178427529546973"

In [118]:
# Quitamos los acentos de los nombres de los vecindarios

df['Neighbourhood Cleansed'] = df['Neighbourhood Cleansed'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
#df['Neighbourhood Cleansed'].unique()

C:\Users\Carla\AppData\Local\Temp\ipykernel_680\2622121180.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Neighbourhood Cleansed'] = df['Neighbourhood Cleansed'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [62]:
#Contamos el número de alojamientos por vecindario
airbnb['Neighbourhood Cleansed'].value_counts()

Embajadores       1835
Universidad       1349
Palacio           1076
Sol                940
Justicia           777
                  ...
El Plantío           3
El Goloso            3
Cuatro Vientos       3
Fuentelareina        3
Orcasitas            2
Name: Neighbourhood Cleansed, Length: 125, dtype: int64

In [ ]:
# Nos faltaría quitar los espacios

# SECCIÓN ZIPCODE (LA MANTENEMOS POR SI ACASO)

In [ ]:
#Hay Zipcodes con numeros faltantes, de más o mal escritos
zipcodes = pd.unique(airbnb['Zipcode'])
for zipcode in zipcodes:
    if "\"" in zipcode or 'Madrid' in zipcode:
        zipcode = zipcode[-5:-1]
    if len(zipcode) == 4:
        list_zipcode = zipcode.split()
        list_zipcode.insert(2,'0')
        list_zipcode.join()
pd.unique(airbnb['Zipcode'])

In [ ]:
airbnb.drop(airbnb[airbnb['Zipcode']=='28'].index, inplace = True)

In [ ]:
pd.unique(airbnb['Zipcode'])

In [ ]:
#Creamos un nuevo csv con el dataframe limpio
#airbnb.to_csv('airbnb_clean.csv', index=False)